// Color Scheme
$color-background:#FFFFFF;
$color-input: #FFAF6D;
$color-hover2:#FFA500;
$color-black:#000000;
$color-subtitle:#060606;
$colo-sub:#2E1503;
$color-shadow: rgb(236, 219, 236);

// Typography

$Ubuntu-Regular: 400;
$Ubuntu-bold: 700;
$poppins-Regular: 400;
$poppins-bold: 400;

// Font Sizes


$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$medium: 16px;
$small: 14px;
$x-small: 12px;